@media (prefers-color-scheme: dark) {
  :root {
    --yellow: #d1a700;
    --brown: #5a2e0c;
    --lightBrown: #7a684c;
    --green: #1b4710;
    --body-background:  #1c1c1c;
    --main-background: #333;
    --body-color: #ccc;
  }
}
@media (prefers-color-scheme: light) {
  :root {
    --yellow: #fdce2a;
    --brown: #804412;
    --lightBrown: #b59e75;
    --green: #296a16;
    --body-background: #f5e9dd;
    --body-color: #000;
    --main-background: #ffffff;
  }
}

  * {
    padding: 0;
    margin: 0;
  }

  body {
    background-color: var(--body-background);
    color: var(--body-color);
    min-height: 100vh
  }

  .title-link {
    color: var(--yellow);
    text-decoration: none;
  }

  .tag-link {
    color: black;
    text-decoration: none;
  }

  header {
    background-color: var(--yellow);
    padding: 10px;
    position: relative;
  }

  header #site-title {
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  header #site-title img {
    height: 150px;
    position: relative;
    z-index: 2;
  }

  .site-title-text {
    margin-top: 15px;
  }

  header #site-title h1 {
    background-color: var(--brown);
    color: var(--yellow);
    padding: 5px 5px 5px 30px;
    margin-left: -25px;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    position: relative;
    z-index: 1;
  }

  header #site-title h2 {
    font-family: 'Gloria Hallelujah', cursive;
    text-align: center;
  }

  nav {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.16);
  }

  .nav-links {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    position: -webkit-sticky;
    z-index: 2;
    position: sticky;
    top: -1px;
    width: 100%;
    padding: 5px;
  }

  nav a {
    color: black;
    text-decoration: none;
    margin: 0 10px;
  }

  nav input {
    font-size: 15px;
    padding: 2px;
    font-family: Roboto Slab, serif;
    transition: background 2s;
    background-color: var(--main-background);
    color: var(--body-color);
  }

  nav a:hover {
    text-decoration: underline;
  }

  nav form {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  nav input[type=text] {
    padding: 6px;
    font-size: 17px;
    border: none;
  }

  nav input[type=submit] {
    padding: 8px;
    margin: 0 5px;
    background: var(--green);
    color: white;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    border: none;
    cursor: pointer;
  }

  #menu-toggle {
    display: none;
  }

  .page {
    max-width: 900px;
    margin: 10px auto;
    background-color: var(--main-background);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    padding: 10px;
    font-family: Roboto Slab;
  }

  .page p {
    margin: 10px 0;
  }

  .page li {
    margin: 0 20px;
  }

  .full {
    width: 100%;
    height: auto;
    position: relative
  }

  .post-container {
    background-color: var(--main-background);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    padding: 10px;
    margin: 10px 0;
    font-family: Roboto Slab;
  }

  .post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .post-header div.post-title {
    flex-grow: 1;
    text-align: right;
    font-family: Roboto;
  }

  .post-header div.post-title h2,
  .post-header div.post-title h3 {
    padding-right: 10px;
  }

  .post-header a {
    color: var(--body-color);
    text-decoration: none;
  }

  .post-header img.badge {
    height: 100px;
    margin: 0 5px;
  }

  .post-header hr {
    border: 2px solid var(--lightBrown);
    margin: 5px 0;
  }

  button.scroll-to-top {
    background-color: var(--green);
  }

  button.scroll-to-top svg {
    fill: white;
  }

  footer {
    display: none;
  }

  @media screen and (min-width: 751px) {
    .menu-toggle-label {
      display: none;
    }
  }

  @media screen and (max-width: 750px) {
    .nav-links {
      flex-direction: column;
      align-items: center;
      box-shadow: 0;
    }

    header #site-title {
      flex-direction: column;
    }

    header #site-title h1 {
      margin-left: 0;
      background-color: var(--yellow);
      color: var(--brown);
      font-size: 35px;
      font-weight: 900;
    }

    header #site-title h2 {
      font-size: 20px;
      text-align: left;
    }

    #menu-toggle {
      display: none;
    }

    #menu-toggle+label {
      position: absolute;
      right: 10px;
      top: -40px;
    }

    #menu-toggle:not(:checked)~.nav-links {
      display: none;
    }

    #menu-toggle:checked~.nav-links {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      transition: 0.2s linear;
    }

    .title-link {
      color: var(--brown);
    }
  }